.column {
    width: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video video {
    width: 100%;
    height: 100%;
}

.video {
    width: 50vw;
    height: 60vh;
}