.mainDiv{
    /* height:00vh; */
}

.servicecolumn {
    width: 33.3% !important;
    /* width: 100% !important; */
    /* border:2px solid red; */
    /* background-color: red; */
}

.row {
    /* background-color: aqua; */
    width: 100%;
    /* display: flex; justify-content: space-evenly;     */
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

img {
    width: 23vw;
}

.socialimg {
    margin-left: 9vh;
}

.heading_social {
    margin-top: 13px;
}

.photoService {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.firstrow{
    /* border:2px solid violet; */
    margin-top: 30px;;
}

.SecondMiDiv{
    width: 100% !important;
    display: flex;
    justify-content: center;
    /* background-color: burlywood ; */

}
@media (min-height : 645px) {
    .servicecolumn
     {
        width: 100% !important;
        /* border:2px solid red; */
        /* background-color: aqua; */
    }

    .firstcontent,
    .img img {
        width: 100%;
    }

    .socialimg {
        margin-left: 0;
        ;
    }

    .mainDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mainHeading {
        /* background-color: red; */
        width: 100%;
        margin: 10px;
    }
}