*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.service-Margin {
    margin-top: 60px;
}

.development {
    width: 50%;
}

.development li {
    border: 2px solid black;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    width: 100%;
    text-align: center;
}
