/* Highlighted text */
.highlight-owner {
  font-weight: 800;
  color: #5188ea;
}

.ownercol{
    width:50% !important
}

/* Text styling */
.owner-content {
  font-size: 1rem;
  line-height: 1.8;
  text-align: justify;
}

/* Image container and image styling */
.owner-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100% !important;
}

.owner-img {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .owner-content {
    text-align: center;
    padding: 0 1rem;
  }

  .ownercol{
    width:100% !important
}

  .owner-img {
    max-height: 60vh;
    object-fit: contain;
  }
}
