/* Highlighted text */
.highlight-owner {
  font-weight: 800;
  color: #5188ea;
}

.ownercol {
  width: 50% !important;
  /* background-color: aqua; */
}

/* Text styling */
.owner-content {

  /* line-height: 1.5; */
  /* text-align: justify; */
}

.owner-content p {
  margin-bottom: 5px;
  font-size: 1.15rem;
}

/* Image container and image styling */
.owner-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
    height: 74vh;
    width: 42vw !important;
}

.owner-img {
  width: 100%;
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
/* @media (min-height: 645px) and (max-width: 600px)  */
@media (min-width:320px) and (max-width: 600px) {

  .owner-content p {
    text-align: center;
    ;
    font-size: 1rem;
    /* background-color: red; */
  }

  .ownercol {
    width: 100% !important;
    /* background-color: antiquewhite;
    border: 2px solid black; */
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .owner-image-wrapper {
    /* background-color: aquamarine; */
    width: 100% !important;
    
  }

  .owner-img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
  }
}