.mTop h2 {
   color: radial-gradient(circle, rgba(219, 7, 166, 0.83) 0%, rgba(148, 187, 233, 1) 100%);
}

   .gradient-text {
      /* font-size: 60px; */
      font-weight: bold;
      background: linear-gradient(90deg, #ff6a00, #ee0979);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }

.whyColumn {
    width: 50% !important;
    /* border: 2px solid pink; */
    /* display:flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.ans {
    line-height: 27px;
    margin-left: 16px;
}



.why-para {
    /* border:2px solid black; */
    text-align: start;
    background-color: blueviolet;
    /* padding: 10px; */
}

.orderList {
    width: 50%;
}

.why-mainDiv {
    width: 100%;
    /* background-color: red; */
    height: 100vh;
    /* display: flex; */
}

.why-mainDiv p {
    /* background-color: red; */
    word-spacing: 6px;
    letter-spacing: 0.5px;
    font-size: 19px;
}

.WhyheadPara {
    line-height: 13px;
}

.unorderList li {
    font-size: 19px;
}

ol li {
    font-size: 19px;
}

.why_subDiv {
    /* width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: 72px; */
}

.text-align {
    text-align: center;
}

.orderList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imgIcon {
    width: 37vw;
    height: 59vh;
    margin-top: 70px;
    margin-left: 26px;
}

.imgIcon img {
    width: 100%;
    height: 100%;
    border-radius: 72px;
    ;
}

.orderList ol li {
    width: 25%;
}

.icons {
    /* background-color: red;; */
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin-top:89px; */
    height: 100%;
    width: 50%;
}

.whytextContent {
    margin-top: 70px;
}



@media (min-width:320px) and (max-width: 600px) {
    .whyColumn {
        width: 100% !important;
        /* border: 2px solid pink; */
    }

    .why_subDiv {
        /* background-color: red; */
        margin-top: 0;
        width: 100%;
    }

    .whytextContent {
        margin-top: 0;
        ;
    }

    .why-mainDiv {
        width: 100%;
        height: auto;
        display: block;
        margin-top: 21px;
        /* background-color: cornsilk; */
    }


    .why_subDiv {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headpara1 {
        line-height: 20px;
    }

    .imgIcon img {
        border-radius: 21px;
    }

    .why_subDiv {
        /* margin-top: 40px; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .text-align {
        text-align: start;
    }

    .orderList {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .orderList ol li {
        width: 100%;
    }



}