.mTop h2 {
    color: #5188eae6;
}

.ans {
    line-height: 27px;
}

.why-para {
    /* border:2px solid black; */
    text-align: start;
    background-color: blueviolet;
    /* padding: 10px; */
}

.orderList {
    width: 50%;
}

.why-mainDiv {
    width: 100%;
    /* background-color: red; */
    height: 100vh;
}

p {
    font-size: 19px;
}

.unorderList li {
    font-size: 19px;
}

ol li {
    font-size: 19px;
}

.why_subDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-align {
    text-align: center;
}

.orderList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderList ol li {
    width: 25%;
}




@media (min-width:320px) and (max-width: 600px) {
    .why-mainDiv {
        width: 100%;
        height: 100vh;
        /* background-color: cornsilk; */
    }

    .why_subDiv {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .why_subDiv {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .text-align {
        text-align: start;
    }

    .orderList {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .orderList ol li {
        width: 100%;
    }

    .line-height {
        /* line-height: 24px; */
    }
}